ERLANG_VERSION="$(cat ./.env | grep ERLANG_VERSION | sed -e 's/\s*ERLANG_VERSION=\s*//')"

export ERLANG_VERSION=$ERLANG_VERSION

if has kerl; then
    ERLANGMK_CAP_VER="OTP-$ERLANG_VERSION"
    ERLANG_INSTALLATION="$(kerl list installations | grep $ERLANGMK_CAP_VER | cut -d' ' -f2)"
    if [ -f "$ERLANG_INSTALLATION/activate" ] ; then
        echo "Using Erlang $ERLANG_VERSION (in $ERLANG_INSTALLATION) via kerl."
        . $ERLANG_INSTALLATION/activate
    else
        echo "Erlang $ERLANG_VERSION not available. Please build it first with command \"kerl build $ERLANG_VERSION $ERLANGMK_CAP_VER && kerl install $ERLANGMK_CAP_VER  ~/erlang/$ERLANGMK_CAP_VER\" and then restart the shell"
    fi
else
    echo "kerl not available; using default system Erlang."
fi
