ERLANG_VERSION="$(cat ./Makefile | grep 'ERLANG_OTP\s*=\s*OTP.' | sed -e 's/\s*ERLANG_OTP\s*//' | sed -e 's/\s*=//' |
awk '{$1=$1}{ print }')"

if has kerl; then
    ERLANG_INSTALLATION=$(kerl list installations | grep "^$ERLANG_VERSION " | cut -d' ' -f2)
	echo "$ERLANG_INSTALLATION"
    if [ -f "$ERLANG_INSTALLATION/activate" ] ; then
        echo "Using Erlang $ERLANG_VERSION (in $ERLANG_INSTALLATION) via kerl."
      	. $ERLANG_INSTALLATION/activate

    else
        echo "Erlang $ERLANG_VERSION not available. Please run make to build it with kerl (you must have kerl installed)"
    fi
else
    echo "kerl not available; using default Erlang."
fi
